body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffd1dc;
}

h1 {
    color: #f7718e;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #990024;
}

nav a:hover {
    text-decoration: underline;
}
    
.card {
    background: #ffbcbc;
    border: 1px solid #adadad;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 15px;
    background-color: #f7718e;
    color: #ffbcbc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4a71;
}